/* be-vietnam-pro-100 - latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/be-vietnam-pro-v10-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/be-vietnam-pro-v10-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/be-vietnam-pro-v10-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/be-vietnam-pro-v10-latin-100.svg#BeVietnamPro') format('svg'); /* Legacy iOS */
  }
  /* be-vietnam-pro-300 - latin */
  @font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/be-vietnam-pro-v10-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/be-vietnam-pro-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/be-vietnam-pro-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/be-vietnam-pro-v10-latin-300.svg#BeVietnamPro') format('svg'); /* Legacy iOS */
  }
  /* be-vietnam-pro-regular - latin */
  @font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/be-vietnam-pro-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/be-vietnam-pro-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/be-vietnam-pro-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/be-vietnam-pro-v10-latin-regular.svg#BeVietnamPro') format('svg'); /* Legacy iOS */
  }
  /* be-vietnam-pro-500 - latin */
  @font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/be-vietnam-pro-v10-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/be-vietnam-pro-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/be-vietnam-pro-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/be-vietnam-pro-v10-latin-500.svg#BeVietnamPro') format('svg'); /* Legacy iOS */
  }
  /* be-vietnam-pro-700 - latin */
  @font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/be-vietnam-pro-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/be-vietnam-pro-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/be-vietnam-pro-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/be-vietnam-pro-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/be-vietnam-pro-v10-latin-700.svg#BeVietnamPro') format('svg'); /* Legacy iOS */
  }
  /* 'Humnst777 Lt BT' */
  @font-face {
    font-family: 'Humnst777 Lt BT';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Humnst777LtCnBT.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/Humnst777LtCnBT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Humnst777LtCnBT.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Humnst777LtCnBT.woff') format('woff'), /* Modern Browsers */
  }