@keyframes slideToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideToLeftLong {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideToRightReverse {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideToRight150p {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideToTop110p {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-110%);
    }
}

@keyframes slideToBottom110p {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110%);
    }
}

@keyframes slideToLeftZoom {
    0% {
        transform: scale(1) translateX(100%);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeToRight {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeToLeft {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeDiagToTopRight {
    0% {
        opacity: 0;
		transform: translate(-20px, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeDiagToTopRight100p {
    0% {
        opacity: 0;
		transform: translate(-100px, 100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes fadeTextToUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeTextToUp100p {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeTextToUp50p {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeTextToLeft30p {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeTextToLeft150p {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeTextToRight100p {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeTextToRight170p {
    0% {
        opacity: 0;
        transform: translateX(-170px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeTextToUpCenter {
    0% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes zindexUp {
    0% {
        z-index: 10;
    }
    100% {
        z-index: 25;
    }
}

@keyframes doubleFlashText {
    0% {
        text-shadow: 0 0 3px rgba(255, 255, 255, 0);
        opacity: 1;
        transform: scale(1);
    }
    25% {
        text-shadow: 0 0 3px $red;
        opacity: 1;
        transform: scale(1);
    }
    50% {
        text-shadow: 0 0 3px rgba(255, 255, 255, 0);
        opacity: 1;
        transform: scale(1);
    }
    75% {
        text-shadow: 0 0 3px $red;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}