.header {
	background-color: #660606;
	color: #f9f9f3;
	transition: 0.3s ease;
	.logo-wrapper {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 0;
		@media (max-width: 991px) {
			order: 1;
		}
		> a {
			display: flex;
    		align-items: center;
			color: #f9f9f3;
			transition: 0.3s ease;
			width: fit-content;
			&:hover {
				opacity: 0.7;
				transition: 0.3s ease;
			}
		}
		.logo-text {
			font-weight: 700;
			font-size: 0.8rem;
			text-transform: uppercase;
			margin-right: 12px;
			line-height: 1;
			@media (max-width: 1920px) {
				font-size: 0.75rem;
			}
			@media (max-width: 1599px) {
				font-size: 0.7rem;
			}
			@media (max-width: 1399px) {
				font-size: 0.65rem;
			}
		}
		.logo-star {
			@media (max-width: 1920px) {
				width: 27px;
			}
			@media (max-width: 1599px) {
				width: 25px;
			}
			@media (max-width: 1299px) {
				width: 20px;
			}
		}
	}
	.header-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 991px) {
			order: 3;
		}
		.navbar {
			padding-top: 0;
			padding-bottom: 0;
		}
		.navbar,
		.navbar-collapse,
		.navbar-nav {
			width: 100%;
		}
		.navbar-nav {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding-left: 50px;
			padding-right: 50px;
			@media (max-width: 1920px) {
				padding-left: 40px;
				padding-right: 40px;
			}
			.menu-item {
				a {
					font-weight: 400;
					font-size: 0.8rem;
					line-height: 1;
					color: #f9f9f3;
					transition: 0.3s ease;
					&:hover {
						opacity: 0.7;
						transition: 0.3s ease;
					}
				}
			}
		}
	}
	.header-buttons {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-left: 0;
		@media (max-width: 991px) {
			order: 2;
		}
		.header-button {
			margin-left: 40px;
			transition: 0.3s ease;
			@media (max-width: 1920px) {
				margin-left: 30px;
			}
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				opacity: 0.7;
				transition: 0.3s ease;
			}
		}
		.header-button--user {
			img {
				@media (max-width: 1920px) {
					width: 26px;
				}
				@media (max-width: 1599px) {
					width: 24px;
				}
				@media (max-width: 1299px) {
					width: 22px;
				}
			}
		}
		.header-button--cart {
			img {
				@media (max-width: 1920px) {
					width: 24px;
				}
				@media (max-width: 1599px) {
					width: 22px;
				}
				@media (max-width: 1299px) {
					width: 20px;
				}
			}
		}
	}
    .navbar-toggler {
        position: relative;
        // border: 2.5px solid $green;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        padding: 0;
        @media (max-width: 767px) {
            width: 40px;
            height: 40px;
            border-width: 2px;
        }
        &:focus {
            box-shadow: unset;
        }
        .navbar-toggler-icon {
            display: block;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            height: 3px;
            background-color: #F9F9F3;
            border-radius: 1.24px;
            transition: 0.05s ease;
            @media (max-width: 767px) {
                width: 20px;
                height: 2.5px;
            }
            @media (max-width: 575px) {
                height: 2px;
            }
        }
        .navbar-toggler-icon::before,
        .navbar-toggler-icon::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #F9F9F3;
            content: "";
            border-radius: 1.24px;
            transition: 0.35s ease;
            @media (max-width: 767px) {
                height: 2px;
                border-radius: 1px;
            }
        }
        .navbar-toggler-icon::before {
            top: -7.5px;
            @media (max-width: 767px) {
                top: -5px;
            }
        }

        .navbar-toggler-icon::after {
            bottom: -7.5px;
            @media (max-width: 767px) {
                bottom: -5px;
            }
        }
        &[aria-expanded=true] {
            .navbar-toggler-icon {
                background-color: rgba(255, 255, 255, 0);
                transition: 0.05s ease;
            }
            .navbar-toggler-icon::before {
                top: 0;
                -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                transition: 0.35s ease;
            }
            .navbar-toggler-icon::after {
                top: 0;
                -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                transition: 0.35s ease;
            }
        }
    }
}

.header.hidden {
	transform: translateY(-100%);
	transition: 0.3s ease;
	&.fixed-visible {
		transform: translateY(0);
	}
}
