.power {
    position: relative;
    background-image: url("../img/cap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-weight: 100;
    font-size: 2.67rem;
    line-height: 1;
    > .container,
    > .container > .row {
        height: 100%;
    }
    > .container > .row {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        @media (max-width: 1199px) {
            justify-content: center;
        }
    }
    .top-smoke-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 1399px) {
                opacity: 0.7;
            }
            @media (max-width: 767px) {
                opacity: 0.6;
            }
        }
    }
    .no-analogy {
        margin-top: 5rem;
        margin-bottom: 3rem;
        position: relative;
        z-index: 20;
        opacity: 0;
		transform: translate(-20px, 20px);
        @media (max-width: 575px) {
            text-align: right;
            padding-right: 70px;
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 5rem;
        }
    }
    .power-title {
        position: relative;
        z-index: 5;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 4rem;
		transform: translateX(-200%);
		will-change: transform;
        .power-subtitle {
            position: absolute;
            top: 0;
            left: 300px;
            z-index: 15;
            opacity: 0;
            @media (max-width: 1920px), (min-width: 1921px) and (max-height: 1080px) {
                left: 250px;
            }
            @media (max-width: 1599px) {
                left: 200px;
            }
            @media (max-width: 991px) {
                left: 150px;
                top: -15px;
            }
            @media (max-width: 767px) {
                left: 120px;
                font-size: 2.2rem;
            }
            @media (max-width: 575px) {
                font-size: 2rem;
            }
            @media (max-width: 499px) {
                left: 100px;
            }
            @media (max-width: 449px) {
                left: 80px;
                top: -20px;
            }
            @media (max-width: 399px) {
                left: 70px;
            }
        }
        .title-img {
            text-align: center;
            > img {
                @media (max-width: 575px) {
                    max-width: 90%;
                }
            }
        }
    }

    .power-features {
        position: relative;
        z-index: 20;
        ul {
            list-style: none;
            padding: 0;
            padding-right: 100px;
            margin: 0;
            @media (max-width: 1920px), (min-width: 1921px) and (max-height: 1080px) {
                padding-right: 70px;
            }
            @media (max-width: 991px) {
                padding-right: 20px;
            }
            @media (max-width: 575px) {
                padding-right: 40px;
            }
            @media (max-width: 399px) {
                padding-right: 20px;
            }
            li {
                line-height: 1.5;
                text-align: right;
                margin-bottom: 0.7rem;
                opacity: 0;
                transform: translateX(30px);
                @media (max-width: 575px) {
                    font-size: 2rem;
                }
            }
        }
    }
    // .horizontal-stick {
    //     position: absolute;
    //     bottom: -83px;
    //     left: 50%;
    //     transform: translate(-50%, 83px);
    // }
}

.section.power.animated {
	.power-title {
		animation: slideToRight150p 1s forwards cubic-bezier(0, 0, .05, 1) 0.7s;
        .power-subtitle {
            animation: fade 0.3s forwards cubic-bezier(0, 0, .05, 1) 1.7s;
        }
	}
    // .horizontal-stick {
    //     transform: translate(-50%, 0);
	// 	transition: 0.7s ease;
    // }
    .no-analogy {
        animation: fadeDiagToTopRight 0.3s forwards cubic-bezier(0, 0, .05, 1) 2s;
    }
    .power-features {
        ul {
            li {
                animation: fadeTextToLeft30p 0.4s forwards cubic-bezier(0, 0, .05, 1);
                &:first-child {
                    animation-delay: 2.3s;
                }
                &:nth-child(2) {
                    animation-delay: 2.6s;
                }
                &:nth-child(3) {
                    animation-delay: 2.8s;
                }
            }
        }
    }
}