.technology {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        display: block;
        z-index: 15;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, #BFBFB2 2.08%, rgba(249, 249, 243, 0) 26.06%);
    }
    > .container,
    > .container > .row {
        height: 100%;
    }
    .technology-description {
        padding-top: 200px;
        font-weight: 100;
        font-size: 2rem;
        line-height: 1.5;
        .technology-title {
            font-weight: 100;
            font-size: 5rem;
            line-height: 1;
            margin-bottom: 3rem;
            color: rgba(30, 30, 28, 0.7);

            opacity: 0;
            transform: translateY(50px);
            // transition: opacity 0.3s ease, transform 0.3s ease;
        }
        p {
            opacity: 0;
            transform: translateY(50px);
            // transition: opacity 0.3s ease, transform 0.3s ease;
        }
    }
    .technology-image {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .pic {
            position: relative;
            margin-bottom: -250px;
            z-index: 10;
            .smoke {
                position: absolute;
                bottom: calc(100% - 15px);
                left: -60px;
                width: 350px;
                z-index: 5;
                opacity: 0;
                // transition: 0.3s ease;
                > img {
                    width: 100%;
                }
            }
            .stick {
                position: relative;
                z-index: 10;
                transform: translateY(100px);
                opacity: 0;
                // transition: 0.3s ease;
            }
        }
    }
    .bottom-smoke-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.section.technology.animated {
    .technology-description {
        .technology-title {
            // opacity: 1;
            // transform: translateY(0);
            // transition: opacity 0.45s ease 0.8s, transform 0.45s ease 0.8s;
            animation: fadeTextToUp50p 0.45s forwards ease 1.6s;
        }
        p {
            // opacity: 1;
            // transform: translateY(0);
            // transition: opacity 0.45s ease 1s, transform 0.45s ease 1s;
            animation: fadeTextToUp50p 0.45s forwards ease 1.8s;
        }
    }

    .technology-image {
        .pic {
            .smoke {
                // opacity: 1;
                // transition: 0.6s ease 0.55s;
                animation: fade 0.6s forwards ease 1.2s;
            }
            .stick {
                // transform: translateY(0);
                // opacity: 1;
                // transition: 0.7s ease;
                animation: fadeTextToUp100p 0.7s forwards ease 0.7s;
            }
        }
    }
}