.there-is {
	position: relative;
	background: linear-gradient(120.49deg, #231557 -0.46%, #44107a 30.03%, #ff1361 82.05%);
	.parallax-block {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}
	.top-video-parallax {
		z-index: 8;
	}
	.parallax-there-is {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		z-index: 5;
		@media (max-width: 767px) and (orientation: landscape) {
			overflow: unset;
		}
	}
	.features-parallax {
		z-index: 8;
	}
	.bottom-video-parallax {
		z-index: 5;
	}
	.there-is-title {
		color: white;
		font-weight: 100;
		font-size: 23rem;
		line-height: 1;
		margin-left: -5rem;
		margin-top: 2rem;
		z-index: 5;
		transform: translateX(-100%);
		will-change: transform;
		@media (max-width: 1920px), (min-width: 1921px) and (max-height: 1080px) {
			font-size: 20rem;
			margin-left: -3rem;
			margin-top: 3rem;
		}
		@media (max-width: 1799px) {
			font-size: 18rem;
		}
		@media (max-width: 1499px) {
			font-size: 17rem;
			@media (max-height: 850px) {
				font-size: 15rem;
			}
		}
		@media (max-width: 1199px) {
			font-size: 15rem;
		}
		@media (max-width: 991px) {
			font-size: 14rem;
			margin-top: 6rem;
		}
		@media (max-height: 800px) {
			margin-top: 4rem;
		}
		@media (max-width: 767px) {
			font-size: 12rem;
		}
		@media (max-width: 575px) {
			font-size: 10rem;
			margin-left: 0;
		}
		@media (max-width: 449px) {
			font-size: 9rem;
		}
		@media (max-width: 399px) {
			font-size: 7rem;
		}
	}
	h3.subtitle {
		color: white;
		font-weight: 100;
		font-size: 2.3rem;
		line-height: 1;
		// margin-bottom: 8rem;
		z-index: 10;
		right: 25%;
		left: unset !important;
		top: 600px !important;
		opacity: 0;
		transform: translateY(100%);
		will-change: opacity, transform;
		@media (max-width: 1920px), (min-width: 1921px) and (max-height: 1080px) {
			top: 500px !important;
		}
		@media (max-width: 1499px) and (max-height: 850px) {
			top: 400px !important;
			font-size: 2rem;
		}
		@media (max-width: 1299px) and (max-height: 850px) {
			top: 350px !important;
		}
		@media (max-width: 767px) {
			top: 350px !important;
			@media (max-height: 850px) {
				top: 300px !important;
			}
		}
		@media (max-width: 575px) {
			right: unset;
			margin-left: 50px;
			top: 280px !important;
			@media (max-height: 850px) {
				top: 230px !important;
			}
		}
		@media (max-width: 399px) {
			font-size: 2rem;
			margin-left: 30px;
		}
	}
	.features-wrapper {
		position: absolute;
		right: 0 !important;
		top: 850px !important;
		left: 50% !important;
		transform: translateX(-50%) !important;
		z-index: 10;
		will-change: transform;
		@media (max-width: 1920px), (min-width: 1921px) and (max-height: 1080px) {
			top: 700px !important;
		}
		@media (max-width: 1499px) and (max-height: 850px) {
			top: 550px !important;
		}
		@media (max-width: 1299px) and (max-height: 850px) {
			top: 500px !important;
		}
		@media (max-width: 767px) {
			top: 600px !important;
			@media (max-height: 850px) {
				top: 450px !important;
			}
		}
		@media (max-width: 575px) {
			top: 500px !important;
			@media (max-height: 850px) {
				top: 330px !important;
			}
		}
		.features-item {
			font-weight: 400;
			font-size: 1.7rem;
			line-height: 1.05;
			color: #f9f9f3;
			opacity: 0;
			transform: translateY(100%);
			will-change: opacity, transform;
			@media (max-width: 1920px), (min-width: 1921px) and (max-height: 1080px) {
				font-size: 1.5rem;
				line-height: 1.2;
			}
			@media (max-width: 1299px) and (max-height: 850px) {
				font-size: 1.4rem;
			}
			@media (max-width: 1199px) {
				font-size: 1.4rem;
				@media (max-height: 850px) {
					font-size: 1.2rem;
				}
			}
			@media (max-width: 991px) {
				font-size: 1.3rem;
			}
			@media (max-width: 767px) {
				margin-bottom: 2rem;
				font-size: 1.6rem;
			}
			@media (max-width: 575px) {
				font-size: 1.2rem;
			}
		}
	}
	.video-wrapper {
		position: absolute;
		top: 50px !important;
		right: -150px !important;
		left: unset !important;
		z-index: 8;
		text-align: right;
		opacity: 0;
		will-change: opacity;
		@media (max-width: 1920px), (min-width: 1921px) and (max-height: 1080px) {
			width: 67%;
		}
		@media (max-width: 1799px) {
			width: 62%;
		}
		@media (max-width: 1499px) {
			width: 75%;
			@media (max-height: 850px) {
				width: 65%;
			}
		}
		@media (max-width: 1299px) {
			width: 80%;
			@media (max-height: 850px) {
				width: 70%;
			}
		}
		@media (max-width: 1199px) {
			width: 90%;
			@media (max-height: 850px) {
				width: 73%;
			}
		}
		@media (max-width: 991px) {
			top: 100px !important;
		}
		@media (max-width: 767px) {
			width: 120%;
			@media (max-height: 850px) {
				width: 90%;
			}
		}
		@media (max-width: 575px) {
			width: 150%;
			top: 80px !important;
			@media (max-height: 850px) {
				width: 110%;
			}
		}
		@media (max-width: 399px) {
			@media (max-height: 850px) {
				width: 130%;
			}
		}
		> img {
			width: 100%;
		}
	}
	.video-wrapper-bottom {
		position: absolute;
		bottom: -50px !important;
		left: -50px !important;
		top: unset !important;
		right: unset !important;
		width: 60%;
		z-index: 8;
		opacity: 0;
		will-change: opacity;
		@media (max-width: 1920px), (min-width: 1921px) and (max-height: 1080px) {
			width: 57%;
			bottom: -40px !important;
		}
		@media (max-width: 1499px) {
			width: 63%;
		}
		@media (max-width: 1299px) {
			width: 68%;
		}
		@media (max-width: 1199px) {
			width: 85%;
			@media (max-height: 850px) {
				width: 75%;
			}
		}
		@media (max-width: 767px) {
			width: 120%;
			@media (max-height: 850px) {
				width: 90%;
			}
			@media (orientation: landscape) {
				display: none;
			}
		}
		@media (max-width: 575px) {
			width: 130%;
			@media (max-height: 850px) {
				width: 110%;
			}
		}
		@media (max-width: 399px) {
			@media (max-height: 850px) {
				width: 150%;
			}
		}
		> img {
			width: 100%;
		}
	}
}

.section.there-is.animated {
	.there-is-title {
		animation: slideToRight 3s forwards cubic-bezier(0, 0, 0.05, 1) 0.5s;
		animation-delay: 1.2s;
	}
	.video-wrapper {
		animation: fadeToLeft 0.8s forwards ease;
		animation-delay: 0.7s;
	}
	.video-wrapper-bottom {
		animation: fadeToRight 0.8s forwards ease;
		animation-delay: 0.7s;
	}
	h3.subtitle {
		animation: fadeTextToUp 0.3s forwards ease 1.7s;
		animation-delay: 2.4s;
	}
	.features-item {
		animation: fadeTextToUp 1s forwards ease 2s;
		animation-delay: 2.7s;
	}
}
